---
import { Counter } from "@components/Counter";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import Title from "@components/shared/Title.astro";
import MainLayout from "src/layouts/MainLayout.astro";


---

<MainLayout title="Favoritos">
    <Title>
        Favoritos
    </Title>

    <FavoritePokemons client:only="solid-js" />

    <!-- <Counter 
        transition:persist="counter" 
        transition:persist-props
        client:load 
        initValue = {10} 
    /> -->

</MainLayout>